.dub
/xcbasic3
/xcbasic3.exe
xc-basic3.so
xc-basic3.dylib
xc-basic3.dll
xc-basic3.a
xc-basic3.lib
xc-basic3-test-*
*.o
*.obj
*.lst
/scratch
/save
/util
/tests
.vscode
/build.sh
/deploy.sh
/xc-basic3.geany